<h3>Create a new list</h3>
<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'Drama' %>
  <%= f.submit "Create List" %>
<% end %>

<%= button_to "Back to Home", root_path, method: :get, class: "btn btn-outline-dark mt-3" %>
